article {
    margin-top: 1.9em;
    margin-bottom: 1.9em;
    margin-left: 0em;
    margin-right:0em;
    line-height: 1.9em;
}

p {
    margin-top: 1.9em;
    margin-bottom: 1.9em;
    font-size: 100%;
}

#qrcode-outer {
    margin-top: 1.9em;
    margin-bottom: 2.7em;
    text-align: center;
}

#qrcode {
    display: inline-block;
    margin:auto;
}

body {
    margin-top: 5em
}
