img, embed, object, video {
  max-width: 100%;
}

html {
    height: 100%;
}

body {
    position: relative;
    font-size: medium;
    min-height: 100%;
}

article {
    margin-top: 1.9em;
    margin-bottom: 1.9em;
    margin-left: 0em;
    margin-right:0em;
    line-height: 1.9em;
}

p {
    margin-top: 1.9em;
    margin-bottom: 1.9em;
    font-size: 100%;
}

#content {
    padding: 40px 20px 150px;
    max-width:800px;
    margin: 0 auto;
}


.entry {
    margin-bottom: 20px;
}

.entry h2 {
    margin-top: 10px;
}

.fp_title {
    margin-top: 0;
}
