img, embed, object, video {
  max-width: 100%;
}

body {
    height: 100%;
    background: #eee;
}

.post-title {
    text-align: center;
    font-size: 1.8em;
    margin: 0.6em 0em 0.8em;
}

.post-title a {
    color: #428bca;
}

#content {
    padding: 5% 10%;
    max-width:960px;
    margin: 3em auto 0;
    background: #fff;
    overflow: hidden;
}


.entry {
    margin-bottom: 20px;
}

.entry h2 {
    margin-top: 10px;
}

.fp_title {
    margin-top: 0;
}


